{% extends "base.html" %} {% block page_content %}
<!-- {% if form.errors %} -->
<!-- <p>Your username and password didn't match. Please try again.</p>
{% endif %} {% if next %} {% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %} {% endif %} -->


{% include 'partials/header.html' %}
<section class="myform-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="form-area login-form">
                    <div class="form-content">
                        <h1>House Haven</h1>
                        <p id="desc">Affordable, modern houses for everyone, from bedistters, one or more bedroom houses with exquisite ammenities</p>
                        <ul>
                            <li><a href="/" class="link"><span>Home</span></a></li>
                            <li><a href="/houses" class="link"><span>Houses</span></a></li>
                        </ul>
                    </div>
                    <div class="form-input">
                        <h4>Login</h4>
                        <form method="POST">
                            {% csrf_token %}

                            <div class="form-group">
                                <input type="text" id="username" name="username" required>
                                <label>User Name</label>
                            </div>
                            <div class="form-group">
                                <input id="password" name="password" type="password" required>
                                <label>password</label>
                            </div>
                            <div class="myform-button">
                                <button class="myform-btn">Login</button>
                            </div>
                            <a href="{% url 'password_reset' %}" id="forgot">
                                <span>
    
                               Forgot your password?</span>
                            </a>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'partials/footer.html' %} {% endblock %}