{% extends "base.html" %} {% block page_content %} {% include 'partials/header.html' %}
<!-- {% if form.errors %} -->
<!-- <p>Your username and password didn't match. Please try again.</p>
{% endif %} {% if next %} {% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %} {% endif %} -->

<section class="myform-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="form-area login-form">
                    <div class="form-input">
                        <h4>Reset Password</h4>
                        <form method="POST">
                            {% csrf_token %}

                            <div class="form-group">
                                <input type="email" id="id_email" name="email" required maxlength="254">
                                <label>Email</label>
                            </div>
                            <div class="myform-button">
                                <button class="myform-btn">Send</button>
                            </div>
                            <a href="{% url 'login' %}" id="forgot">
                                <span>
  
                             Login instead?</span>
                            </a>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  {# Assumes you set up the password_reset view in your URLconf #}  -->
{% include 'partials/footer.html' %} {% endblock %}