* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.myform-area {
    overflow: hidden;
    padding: 0;
    position: relative;
    margin: 6rem 7rem 0 7rem;
}

.myform-area .form-area {
    position: relative;
    background: #000;
    width: 100%;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 0 40px 0 #e1e1e1;
}

.myform-area .form-area .form-content,
.myform-area .form-area .form-input {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
}

.myform-area .form-area .form-content {
    width: 50%;
    padding: 40px 30px;
}

.myform-area .form-area .form-content h1 {
    color: #fff;
}

.myform-area .form-area .form-content p {
    color: #fff;
}

.myform-area .form-area .form-content ul {
    margin-top: 50px;
}

.request-form {
    width: 60%;
    margin: 0 auto;
}

.myform-area .form-area .form-content ul li {
    display: inline-block;
    margin-right: 10px;
}

.myform-area .form-area .form-content a i {
    margin-right: 10px;
}

.link {
    color: #04AA6D;
    font-size: 1rem;
    text-transform: capitalize;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.link:hover,
.link:focus {
    color: #494964;
}

.myform-area .form-area .form-content h1 {
    font-size: 2rem;
}

#desc {
    margin-top: 4rem;
}

.myform-area .form-area .form-input {
    width: 50%;
    background: #fff;
    padding: 5rem 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 40px 0 #e1e1e1;
}

.myform-area .form-area .form-input h2 {
    margin-bottom: 20px;
    color: #07315B;
}

.submit-request-button {
    background-color: #000;
    color: #fff;
    margin-top: 8px;
    padding: 6px 8px;
}

.myform-area .form-area .form-input input {
    position: relative;
    height: 60px;
    padding: 20px 0;
}

.myform-area .form-area .form-input textarea {
    height: 120px;
    padding: 20px 0;
}

.myform-area .form-area .form-input input,
.myform-area .form-area .form-input textarea {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #e1e1e1;
    color: #07315B;
}

.myform-area .form-area .form-input form .form-group {
    position: relative;
}

.myform-area .form-area .form-input form .form-group label {
    position: absolute;
    top: 20px;
    left: 0;
    pointer-events: none;
    font-size: 14px;
    color: #595959;
    margin-bottom: 0;
    transition: all .6s;
}

.myform-area .form-area .form-input input:focus~label,
.myform-area .form-area .form-input textarea:focus~label,
.myform-area .form-area .form-input input:valid~label,
.myform-area .form-area .form-input textarea:valid~label {
    top: -5px;
    opacity: 0;
    left: 0;
    color: rgba(103, 58, 183);
    font-size: 12px;
    color: #07315B;
    font-weight: bold;
}

.myform-area .form-area .form-input input:focus,
.myform-area .form-area .form-input textarea:focus,
.myform-area .form-area .form-input input:valid,
.myform-area .form-area .form-input textarea:valid {
    border-bottom: 2px solid rgba(103, 58, 183);
}

.myform-area .form-area .form-text {
    margin-top: 30px;
}

.myform-area .form-area .myform-button {
    margin: 30px 0 1rem 0;
}

.myform-area .form-area .myform-button .myform-btn {
    width: 100%;
    height: 50px;
    font-size: 17px;
    background: #000;
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#forgot {
    margin-top: 1rem;
    color: red;
}

.myform-area .form-area .myform-button .myform-btn:hover {
    background: #07315B;
}

button {
    font-family: 'Poppins', sans-serif;
}

.logo-container,
.nav-links,
#login {
    display: flex;
}

#login #btn {
    background-color: #000;
    color: #fff;
    padding: 9px 11px;
    border-radius: 6px;
}

#login {
    flex: 1;
    justify-content: flex-end;
}

#login #btn:hover {
    background-color: #494964;
}

.logo-container {
    flex: 1;
}

.logo {
    font-weight: 400;
    margin: 5px;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction {
    flex: 1;
}

.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #000, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: #006400;
}

.cta {
    padding: 50px 0px 0px 0px;
}

.cta-select {
    border: 2px solid #000;
    background: transparent;
    color: #000;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.cta-select:hover {
    color: #51414F;
}

.cta-add {
    background: #000;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    margin: 30px 0px 0px 30px;
}

.cover {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 60vh;
}

.cover img {
    height: 100%;
    filter: drop-shadow(0px 5px 3px black);
    animation: drop 1.5s ease;
}

.big-circle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.5;
    height: 80%;
}

.medium-circle {
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.4;
}

.small-circle {
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
}

.laptop-select {
    width: 15%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 20%;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 1024px) {
    .presentation {
        flex-direction: column;
    }
    .introduction {
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1 {
        font-size: 30px;
    }
    .intro-text p {
        font-size: 18px;
    }
    .cta {
        padding: 10px 0px 0px 0px;
    }
    .laptop-select {
        bottom: 5%;
        right: 50%;
        width: 50%;
        transform: translate(50%, 5%);
    }
    .cover img {
        height: 80%;
    }
    .small-circle,
    .medium-circle,
    .big-circle {
        opacity: 0.2;
    }
}

.heading {
    padding: 2rem 0 1rem 3rem;
}

.homes .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1.5rem;
    margin: 2rem 1rem;
}

.homes .box-container .box {
    text-align: center;
    background: #fff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
}

.homes .box-container .box:hover {
    background: #10221b;
}

.homes .box-container .box:hover .content>* {
    color: #fff;
}

.homes .box-container .box:hover .btn {
    border-color: #fff;
}

.homes .box-container .box:hover .btn:hover {
    background: #fff;
    color: #10221b;
}

.homes .box-container .box .image {
    height: 15rem;
    overflow: hidden;
    padding-bottom: 0;
    border-radius: .5rem;
}

.homes .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: .5rem;
}

.homes .box-container .box .content {
    padding: 1rem;
}

.homes .box-container .box .content h3 {
    font-size: 1rem;
    color: #10221b;
}

.homes .box-container .box .content p {
    font-size: 1rem;
    color: #10221b;
    padding: 0.25rem 0;
    line-height: 2;
}

.homes .box-container .box .content .price {
    font-size: 0.75rem;
    color: #219150;
}

.footer-basic {
    margin-top: 4rem;
    padding: 26px 0;
    background-color: #000;
    color: #fff;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    display: inline;
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

#user_dashboard {
    padding: 2rem 3rem;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

#user-info {
    display: flex;
    margin: 2rem 3rem;
}

#user-info #info-section {
    flex: 2;
}

#user-info #notifications {
    flex: 1;
}

#title {
    color: darkgreen;
    font-weight: 600;
    font-size: 1rem;
}

#info-section {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
}

#info-section .card {
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#info-section .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #000;
    color: #fff;
}

#info-card {
    padding: 1rem;
    margin-top: 3px;
    list-style: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

#info-card li {
    margin: 4px 0;
}

.w-full {
    width: 100%;
}

.p-3 {
    padding: 12px;
}

.text-sm {
    font-size: 12px;
}

.border-gray-200 {
    border-color: #c7c8c6
}

.rounded-lg {
    border-radius: 4px;
}

.my-4 {
    margin: 1rem 0;
}